<div id="myFooter">
    <div class="footer-social">
        <a href="https://facebook.com" target="_blank" class="social-icons"><i class="fa fa-facebook"></i></a>
        <a href="https://plus.google.com/" target=_blank class="social-icons"><i class="fa fa-google-plus"></i></a>
        <a href="https://twitter.com/" class="social-icons" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="container">
        <p class="footer-copyright" style="text-align:center">© 2017 Reza Akbar Shahputra</p>
    </div>
</div>
