{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1 style="color:white;">Portofolio</h1>
<img src="https://preview.ibb.co/htdWUQ/hqdefault.jpg" alt="hqdefault" style="height:300px;width:300px">
<hr/>
<section name="bio">
	<h2 style="color:white;">Bio</h2>
	<p style="color:white;">
		{{content}}
	</p>    
</section>
<hr/>
<section name="about_me">
	<h2 style="color:white;">List</h2>
	<ul>
		{% for ii in about_me %}
		<li style="color:white;"> {{ ii }} </li>
		{% endfor %}
	</ul>
</section>
<hr/>
<section name="form">
        <h2 style="color:white;">Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}" style="color:white;">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

{% endblock %}

